<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask Auth{% endblock %}</title>
    <style>
        .flash.success { color: green; }
        .flash.danger { color: red; }
        .flash info { color:blue; }
    </style>
</head>
<body>
  <!-- For handling flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>

